:root {
    --family: 'Castoro Titling', cursive;
    --family-two: 'Barlow', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

 



/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    height: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease 0s, background-color 0.3s ease 0s, left 0.3s ease 0s;
    transform: translateX(-50%);
}

a:hover::after {
    width: calc(100% - 5px);
    background-color: #fff;
}

li {
    list-style: none;
}

.nav-transparent {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(4px) brightness(90%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-left: 5%;
    padding-right: 4%;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: 'Barlow', sans-serif;
    line-height: 26px;
    font-size: 15px;
}

.navbar-brand {
    margin-left: 4%;
}

.nav-item.active a::after,
.nav-item a.active::after,
.nav-item.activeLink a::after,
.nav-item a.activeLink::after {
    width: calc(100% - 10px);
    background-color: #fff;
}


.span-bold {
    font-weight: bold;
}


.main {
    margin-top: 15%;
    justify-content: space-between;
    align-items: center;
}

.home {
    background: url("/starter-code/assets/home/background-home-desktop.jpg") no-repeat center center;
    background-size: cover;
  }

.dist {
    background: url("starter-code/assets/destination/background-destination-desktop.jpg")
        no-repeat;
    height: 100%;
  }

  .crewBg {
    background: url("starter-code/assets/crew/background-crew-desktop.jpg")
      no-repeat ;
    height: 100%;
  }


.home-txt {
    font-family: var(--family);
    color: #fff;
}

.home-txt .top {
    font-family: var(--family-two);
    line-height: 26px;
    font-size: 20px;
}

.home-txt h1 {
    font-weight: 500;
    font-size: 100px;
    line-height: 26px;
    font-family: var(--family);
    padding: 15% 0;
}

.home-txt .bottom {
    width: 28vw;
    font-family: var(--family-two);
}

.round-explore {
    padding: 7%;
    border-radius: 100%;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.round-explore a {
    font-family: var(--family);
    text-align: center;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

/* Destination styling */

.destination-h2 {
    font-family: var(--family-two);
    font-size: 30px;
    line-height: 26px;
    font-weight: 500;
    padding: 5% 0;
    color: white;
    margin-top: 17%;
}

.links {
    float: right;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: var(--family-two);
    margin-left: 15px;
    font-size: 20px;

}

.in-dynamic-routing {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: var(--family-two)
}

.content-one h2 {
    font-family: var(--family);
    font-size: 60px;
    line-height: 26px;
    font-weight: 500;
    padding: 5% 0;
    color: white;
}
.content-one .desc, .crew-cont .desc {
    width: 380px;
}

.line {
    content: '';
    display: block;
    height: 0.3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5%;
    margin-top: 15%;
}

.distance-travel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* .distance-travel .fs-5 {
    font-size: 30px;
    font-family: var(--family-two);
    color: #fff;
} */


/* Style for crew page */
.crew {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.crewLine {
    content: '';
    display: none;
    height: 0.3px;
    width: 100%;
    background-color: #fff;

}

.carousel-container {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    width: 100%;
    height: 400px; 
  }

.scroll-carousel a, .scroll-carousel ul li {

    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #555;
}
.carousel-item.active {
    background-color: #fff; 
  }

.crewContainer {
    margin-top: 2%;
    margin-bottom: 5%;
}

.crew-cont {
    display: flex;
    flex-direction: column;
    font-family: var(--family-two);
    color: #fff;
}

.crew-cont h2 {
    font-family: var(--family);
    font-size: 50px;
    line-height: 22px;
    font-weight: 500;
    padding: 5% 0;
    color: white;
}

.crew-cont p {
    opacity: 0.6;
}

.crew-cont .role{
    text-transform: uppercase;
    font-family: var(--family);
    font-size: 20px;

}


/* Technology styling */
  

  
.techCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.scroll-carousel ul li { 
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #555;
}

.scroll-carousel ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* End of technology styling */


@media (max-width: 768px) {
    .home {
        background: url("/starter-code/assets/home/background-home-mobile.jpg") no-repeat center center;
        background-size: cover;
    }

    .home-txt .bottom {
        width: 100%;
        font-family: var(--family-two);
    }
    .home-txt {
        margin: 20% 5%;
    }
    .round-explore {
        padding: 5%;
        border-radius: 100%;
        max-width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .main {
        flex-direction: column;
        text-align: center;
    }
    .navbar-toggler-icon {
        background-color: #fff;
    }
    .destination-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .destination-h2 {
        margin-top: 40%;
        font-size: 15px;
    }

    .in-dynamic-routing {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .destination-image {
        width:200px;
        height:200px;
    }
    .content-one {
        text-align: center;
    }

    .content-one h2 {
        margin-top: 7%;
    }

    .distance-travel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    .links {
        justify-content: space-between;
        
    }
    
    .links a {
        text-decoration: none;
        color: #fff;
        position: relative;
        font-family: var(--family-two);
        margin-left: 15px;
        font-size: 20px;
    
    }

    .dist {
        background: url("starter-code/assets/destination/background-destination-mobile.jpg")
        no-repeat center center;
        background-size: cover;
    }


    /* For crew */

    .crewBg {
        background: url("starter-code/assets/crew/background-crew-mobile.jpg")
        no-repeat center center;
        background-size: cover;
    }

    .crewFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .crewFlex .header {
        margin-top: 30%;
    }
    
    .crew{
        display: flex;
        flex-direction: column;
    }

    .crewImg {
        width:200px;
        height:200px;
    }

    .crewLine {
        display: block;
    }

    .crew-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .crew-cont .role {
        margin-top: 7%;
    }

    .crew-cont h2 {
        text-align: center;
        font-size: 30px;
        margin-top: 1px;
        padding: 1% 0;
    }

    .crew-cont .desc {
        width: 100%;
        text-align: center;
    }


    .scroll-carousel a{
        position: relative;
        top: 6rem;
        right: -5%;
        left: 30%;
        bottom: 0;
        justify-content: center;
        align-items: center;
    }
    


}

@media (max-width: 1280px) {
    .home {
        background: url("/starter-code/assets/home/background-home-tablet.jpg") no-repeat center center;
        background-size: cover;
    }

    .main {
        flex-direction: column;

    }


    /* .dist {
        background: url("starter-code/assets/destination/background-destination-tablet.jpg")
        no-repeat center center;
        background-size: cover;
    } */
}